/*
 * BACKEND
 */

/* box */
.content-description {
    font-size: 12px;
    margin: 5px 0 0 5px;
    color: #666;
}

/* table */
table.with-btn > tbody > tr > td {
    line-height: 34px;
}

table.with-btn-sm > tbody > tr > td {
    line-height: 30px;
}

.text-center th {
    text-align: center;
}

/* Form */
.uploaded-img {
    border-radius: 20px;
    overflow: hidden;
    width: 120px;
    height: 120px;
    position: relative;
    display: inline-block;
    z-index: 10;
    margin: 10px;
}
.uploaded-img img {
    display: block;
    width: 120px;
    height: 120px;
}

.dz-preview{
    margin: 10px;
}

/*.uploaded-img p {*/
    /*margin-bottom: 10px;*/
    /*color: red;*/
/*}*/

.form-group label.radio-inline:first-child {
    padding-left: 0;
}

.modal-body {
    /*padding-bottom: 0;*/
}

input[type=file] {
    height: 34px;
}

/**
 * Dropzone
 */
.pict-add-box {
    display: block;
    width: 100%;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
    color: #ccc;
    font-size: 20px;
    margin-top: 10px;
    line-height: 100px;
}

.pict-add-box:hover {
    color: #3c8dbc;
    border-color: #3c8dbc;
}

#pict-preview-box {
    display: block;
    width: 100%;
    margin-top: 10px;
}

/**
 * select2
 */
.select2-container--default
.select2-selection--single {
    height: 34px;
}

.select2-container--default
.select2-selection--single
.select2-selection__arrow {
    height: 32px;
}

/* label */
.label-lg {
    font-size: 100%;
}

/* カーソル */
.cursor-zoomIn {
    cursor: zoom-in;
}

/* フラッシュメッセージ */
.flash-msg {
    display: none;
    position: absolute;
    top: 35%;
    left: 25%;
    right: 0;
    width: 50%;
    z-index: 99999;
    color: #FFF;
    background-color: #000;
    text-align: center;
    padding: 100px 10px;
    font-size: 1.4em;
}

.err {
    background-color: red !important;
}

/* menu */
.main-sidebar .sidebar-menu li.header {
    color: #3c8dbc;
    font-weight: bold;
}