/**
 *
 * トップページ
 *
 */

/*スライド画像の横幅可変*/
.top-slider img {
    width: auto;
    height: 600px;
}

.slick-prev::before,
.slick-next::before {
    font-size: 20px !important;
}

.slick-prev {
    left: 20px !important;
}

.slick-next {
    right: 20px !important;
}

/* 活動の様子 */
#home #act .btn.btn-primary {
    margin-top: 0;
}

.btn {
    border-bottom-width: 0;
}

/* section */
.section-footer {
    text-align: right;
    margin-top: 50px;
}

/**
 *
 * 個別ページ
 *
 */

/* 活動の様子詳細ページ */
#act {
    padding: 60px 0 87px 0;
    background: #f6f6f6;
    overflow: hidden;
}

#act .post {
    background: #fff;
    margin-bottom: 50px;
    padding: 30px 60px;
}

#act .entry-date {
    color: #45aed6;
}

#act .entry-place {
    margin-left: 10px;
}

#act .small-post {
    background: #fff;
    padding: 0;
    margin-bottom: 20px;
}

#act .small-post img.thum {
    width: 100%;
}

#act .small-post .post-text {
     padding: 10px;
     text-align: center;
}
#act .small-post .post-text h5{
    margin-top: 0;
}
#act .small-post .post-text p{
    margin-bottom: 2px;
}

#act .small-post .read-more{
    background-color: #ff641b;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    padding: 5px 8px;
}

#act .small-post .post-text .place {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 0.7em;
    line-height: 10px;
}

#act-index #act .section-footer {
    text-align: center;
    margin-top: 20px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #ff641b;
    border-color: #ff641b;
}

.pagination > li > a,
.pagination > li > span{
    color: #ff641b;
}