/*
 * BACKEND
 */

/*
 * common
 */
.bg-primary{
  background-color: #85CE36 !important;
  color: #fff;
}

/* 選択中のメニューの表示 */
.metismenu li.active ul{
  display: block;
}

/* フォーム */
.form-control{
  height: 37px;
}
.form-group:last-child{
  margin-bottom: 0;
}
input[type=file]{
  height: 37px;
}
.uploaded-img{
  padding: 15px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  margin-top: 10px;
}
.uploaded-img p{
  margin-bottom: 10px;
  color: red;
}
.uploaded-img img{
  height: 180px;
}

/* title要素 */
.title-description{
  margin-top: 5px;
}

/* table */
table.with-btn > tbody > tr > td {
  line-height: 38px;
}
.text-center th{
  text-align: center;
}

/* card */
.card-footer .pagination{
  margin-bottom: 0;
}

/* label */
.label-lg{
  font-size: 100%;
}

/* カーソル */
.cursor-zoomIn{
  cursor: zoom-in;
}

/* フラッシュメッセージ */
.flash-msg {
  display: none;
  position: absolute;
  top: 35%;
  left: 25%;
  right: 0;
  width: 50%;
  z-index: 99999;
  color: #FFF;
  background-color: #000;
  text-align: center;
  padding: 100px 10px;
  font-size: 1.4em;
}
.err{
  background-color: red !important;
}

/* Modal */
.modal-body .help-block{
  margin-top: 15px;
}
.modal-body .help-block,
.modal-body .help-block p{
  margin-bottom: 0;
}
